<!doctype html>
<html ng-app="cotswoldApp">
  <head>
    <link rel="stylesheet" type="text/css" href="cotswold.css"/>
    <script src="angular-1.0.2.min.js"></script>
    <script src="jquery-1.8.2.min.js"></script>
    <script src="raphael-2.1.0-min.js"></script>
    <script src="cotswold.js"></script>
  </head>
  <body>
    <editor
        id="editor" 
        direction="vertical"
        child-align="center"
        margin="5"
        padding="5"
        ng-controller="EditorController">
      <timeline 
        id="timeline" 
        direction="horizontal"
        child-align="bottom"
        margin="5"
        padding="5">
        <timepoint 
          ng-repeat="timepoint in timepoints"
          direction="vertical"
          child-align="center"
          margin="5"
          padding="5">
          <div class="timepoint-background">
              <div class="timepoint-background-line"></div>
          </div>
          <artifact 
            ng-repeat="artifact in timepoint.artifacts"
            loop-variable="artifact"
          >
            <div class="artifact-content" style="display: {{artifact.contentDisplay}};">
              <span ng-repeat="chunk in artifact.contentChunks" 
                id="{{chunk.spanId}}"
                class="{{chunk.class}}">{{chunk.content}}</span>
            </div>
            <img src="{{artifact.imageSrc}}" 
                 id="{{artifact.imageId}}"
                 style="display: {{artifact.imageDisplay}};">
              <div class="image-box" 
                   ng-repeat="imageBox in artifact.imageBoxes"
                   id="{{imageBox.id}}"
                   style="left: {{imageBox.left}}px; top: {{imageBox.top}}px; width: {{imageBox.width}}px; height: {{imageBox.height}}px;">
              </div>
            </img>
          </artifact>
          <span style="position: absolute">{{timepoint.name}}</span>
        </timepoint>
      </timeline>
      <div class="controls">
        <a href="" ng-click="toggleZoom()">Toggle Zoom</a>
      </div>
    </editor>
    <div id="connections" class="connections-glass"></div>
  </body>
</html>
