.timeline {
  position: absolute;
  border-bottom: 2px solid #9cf;
}

.connections-glass {
  left: 0px;
  top: 0px;
  position: absolute;
}

.timepoint {
  position: absolute;
}

.artifact {
  position: absolute;
}

.artifact-content {
  background-color: #9cf;
}

.artifact-tail {
  margin-left:auto;
  margin-right:auto;
  width: 0px; 
  height: 10px; 
  border: 1px solid #9cf;
}
