<!doctype html>
<html ng-app="cotswoldApp">
  <head>
    <link rel="stylesheet" type="text/css" href="cotswold.css"/>

    <!-- intentionally add http protocol to these since I want this to be run locally from a file 
         consider having local versions of these files instead so we can run with no network access -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="cotswold.js"></script>
  </head>
  <body>
    <timeline 
      ng-controller="TimelineController" 
      timepoints="timepoints"
    >
      <timepoint 
        ng-repeat="timepoint in timepoints" 
        width="timepoint.width"
        height="timepoint.height"
        top="timepoint.top"
        left="timepoint.left"
        artifacts="timepoint.artifacts"
      >
        <!-- FIXME: if there is a programmatic way to figure out what 
             the instance variable in the loop is called, could probably
             avoid this location and size attributes -->
        <artifact 
          ng-repeat="artifact in timepoint.artifacts"
          width="artifact.width"
          height="artifact.height"
          top="artifact.top"
          left="artifact.left"
        >
          <span>{{artifact.name}}</span>
        </artifact>
      </timepoint>
    </timeline>
    <!--a href="" ng-click="test()">test</a-->
  </body>
</html>
