.timeline {
  position: absolute;
  border-bottom: 4px solid #9cf;
}

.connections-glass {
  left: 0px;
  top: 0px;
  position: absolute;
  pointer-events: none;
}

.timepoint {
  position: absolute;
}

.timepoint-background {
}

.timepoint-background-line {
  border: 2px solid #9cf;
  width: 0px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.artifact {
  position: absolute;
  overflow-y: auto;
}

.artifact-content {
  background-color: #9cf;
}

.highlighted {
  background-color: #ff0;
  border: 1px solid #ff0;
}
