.color1 {
  background-color: #FF0000;
}

.color2 {
  background-color: #00FF00;
}

.color3 {
  background-color: #0000FF;
}

.color4 {
  background-color: #FF00FF;
}

.color5 {
  background-color: #FFFF00;
}

.color6 {
  background-color: #00FFFF;
}

.selectedColor {
  border: 1px solid black;
}

.connectionDetail {
  position: absolute;
  background-color: #FFFFFF;
  border: 3px solid green;
  pointer-events: auto;
}

.colorBox {
  width: 20px;
  height: 20px;
  float: left;
}

.highlighted {
  background-color: #ff0;
  border: 1px solid #ff0;
}

.hidden {
  display: none;
}

.red {
  background-color: #FFC0CB;
  border-color: #8B0000;
}

.blue {
  background-color: #ADD8E6;
  border-color: #00008B;
}

.green {
  background-color: #90EE90;
  border-color: #008B00;
}

.allborders {
  border-style: solid;
  /*border-style: none;*/
}

.truncatedLeft {
  border-style: solid solid solid none;
  /*border-style: none;*/
}

.truncatedRight {
  border-style: solid none solid solid;
  /*border-style: none;*/
}

.truncatedBoth {
  border-style: solid none solid none;
}

#htmlLayer {
  overflow: hidden;
}

.popUp {
  position: absolute;
  background-color: #00FF00;
  pointer-events: auto;
}


.timepoint {
  float: left;
  width: 300px;
}

#svgLayer {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

#popUpLayer {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

rect.imageBox {
  pointer-events: auto;
}

line.connection {
  pointer-events: auto;
}


rect.imageBoxSelected {
  fill: #0f0;
}

rect.dragBox {
  pointer-events: auto;
}

.removeRangeButton {
  pointer-events: auto;
  fill: #f00;
}

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/* declare this last so that it takes precedence over other styles */
.selected {
  background-color: #FFFF00;
  font-weight: bold;
}


