<!doctype html>
<html ng-app="cotswoldApp">
  <head>
    <link rel="stylesheet" type="text/css" href="css/cotswold.css"/>
    <script src="lib/angular-1.0.2.min.js"></script>
    <script src="lib/jquery-1.8.2.min.js"></script>
    <script src="lib/raphael-2.1.0-min.js"></script>
    <script src="lib/rangy-core-1.2.3-min.js"></script>
    <script src="lib/d3.v3.min.js"></script>
    <script src="lib/diff-kpdecker.js"></script>
    <script src="js/constants.js"></script>
    <!-- <script src="js/graphics.js"></script> -->
    <script src="js/hardcoded.js"></script>
    <script src="js/spantree.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/view.js"></script>
    <script src="js/directives.js"></script>
  </head>
  <body>
    <div ng-controller="EditorController">
      <div class="controls left">
        <button type="button" ng-click="makeRange()"
                title="Create a range around the currently selected text (shortcut: r).">
          Make Range
        </button> 
        <button type="button" ng-click="makeConnection()"
                title="Connect two selected ranges (shortcut: c).">
          Connect
        </button> 
        <button type="button" ng-click="removeSelected()"
                title="Remove the selected connection or range (shortcut: x).">
          Remove
        </button> 
        <button type="button" ng-click="compare()"
                title="Compare the two selected timepoints (shortcut: m).">
          Compare
        </button> 
      </div>
      <div class="controls right">
        <button type="button" ng-click="createDocument()"
                title="Create a new document.">
          New
        </button> 
        <button type="button" ng-click="saveDocument()"
                title="Save the document to a file.">
          Save 
        </button> 
        <button type="button" ng-click="showOpenDocumentDialog()"
                title="Open a document from a file.">
          Open
        </button> 
      </div>
      <div id="htmlLayer" class="content">
      </div>
      <div id="svgLayer" class="content">
        <svg id="mainSvg"></svg>
      </div>
      <div id="frostedGlass" class="content">
      </div>
      <div id="popUpLayer" class="content">
        <div id="dialog">
          <p>Choose a document to open.  (Unsaved changes will be lost.)</p>
          <div>
            <input type="file" id="dataFile" name="files[]" multiple />
          </div>
          <div style="text-align: right">
            <button type="button"  ng-click="cancelOpenDocument()">Cancel</button>
            <button type="button" ng-click="openDocument()">Open Document</button> 
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
