<!doctype html>
<html ng-app="cotswoldApp">
  <head>
    <link rel="stylesheet" type="text/css" href="css/cotswold.css"/>
    <script src="lib/angular-1.0.2.min.js"></script>
    <script src="lib/jquery-1.8.2.min.js"></script>
    <script src="lib/raphael-2.1.0-min.js"></script>
    <script src="lib/rangy-core-1.2.3-min.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/graphics.js"></script>
    <script src="js/hardcoded.js"></script>
    <script src="js/spantree.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/directives.js"></script>
  </head>
  <body>
    <script type="text/ng-template" id="recursiveSpan"><span class="ng-scope ng-binding" ngm-if="data.content">{{data.content}}</span><span ng-repeat="data in data.nodes" ng-include="'recursiveSpan'" class="{{data.style}}" id="{{data.id}}"></span></script>
    <editor
        id="editor" 
        direction="vertical"
        child-align="center"
        margin="5"
        padding="5"
        ng-click="clickHandler($event)"
        ng-controller="EditorController">
      <timeline 
        id="timeline" 
        direction="horizontal"
        child-align="bottom"
        margin="5"
        padding="5">
        <timepoint 
          ng-repeat="timepoint in timepoints"
          direction="vertical"
          child-align="center"
          id="{{timepoint.id}}"
          margin="5"
          padding="5">
          <div class="timepoint-background">
              <div class="timepoint-background-line"></div>
          </div>
          <artifact 
            ng-repeat="artifact in timepoint.artifacts"
            loop-variable="artifact"
            id="{{artifact.id}}"
          >
            <div class="artifact-content" style="display: {{artifact.contentDisplay}};">
              <span ng-repeat="data in artifact.nodes" 
                ng-include="'recursiveSpan'" 
                class="{{data.style}}" 
                id="{{data.id}}"></span>
            </div>
            <img src="{{artifact.imageSrc}}" 
                 style="display: {{artifact.imageDisplay}};">
              <div class="image-box" 
                   ng-repeat="range in artifact.ranges"
                   id="{{range.id}}"
                   style="left: {{range.left}}px; top: {{range.top}}px; width: {{range.width}}px; height: {{range.height}}px;">
              </div>
            </img>
          </artifact>
          <span style="position: absolute">{{timepoint.name}}</span>
        </timepoint>
      </timeline>
      <div class="controls">
        <a href="" ng-click="toggleZoom()">Toggle Zoom</a>
        <a href="" ng-click="makeRange()">Make Range</a>
        <a href="" ng-click="removeRange()">Remove Range</a>
        <a href="" ng-click="makeConnection()">Make Connection</a>
        <a href="" ng-click="removeConnection()">Remove Connection</a>
      </div>
    </editor>
    <div id="connections" class="glass"></div>
  </body>
</html>
